
#loginDialog{
    color:#535353;
}
#login_form {
    width: 85%;
    margin: 0 auto;
    margin-top:30px;
    color: #535353;
}

#login_form .user, #login_form .pwd {
    margin-top: 5px;
    background-color:white;
    border-radius:5px;
}

#login_form .login-box, #login_form .register-box {
    margin-top: 20px;
}

#login_form .ui-input-text {
    /* background-color: transparent; */
    border: none;
    box-shadow: none;
    background-size: auto 50%;     
    background-position:8% center;
    background-repeat: no-repeat;
    margin: 0px;
}
#login_form .user input, #login_form .pwd input {
    height: 50px;
}
#login_form .input-reminder{
    width:30%;
    display:inline-block;
    float:left;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color:#535353;
}
#name, #password {
    width: 70%;
    /*margin-left: 20%; */
    color: #535353;
    text-shadow: none;
    font-size: 12px;
}

#loginBtn, #registerBtn {
    height: 50px;
    border-radius: 25px;
    background: none;
    border: none;
    margin: 0px;
    text-shadow: none;
    color: white;
    padding: 0px;
    line-height: 50px;
    width:80%;
    margin-left:10%;
}

#loginBtn {
    background:  -webkit-linear-gradient(#aeeb38, #67a425);
}

    #loginBtn:hover, #loginBtn:focus, #loginBtn:active {
        background: -webkit-linear-gradient(#67a425,#aeeb38);
        text-decoration: none;
    }

#registerBtn {
    background: -webkit-linear-gradient(#ffa200, #ec6e2f);
}

    #registerBtn:hover, #registerBtn:focus, #registerBtn:active {
        background: -webkit-linear-gradient(#ec6e2f,#ffa200);
        text-decoration: none;
    }

#login_form .ui-grid-a {
    text-align: center;
}

#login_form .ui-grid-a .ui-block-b {
    font-size: 12px;
    line-height: 45px;
}

#isAutoLogin {
    text-align: right;
 
}

#isAutoLogin img {
    width: 18px;
    height: auto;
    margin-top: 13px;
}

#autoLoginTxt {
    text-align: left;
    color: #535353;
}

#forgetPassword {    
    text-decoration: none;
    font-size: 12px;
    line-height: 45px;
    display: inline-block;
    color: #535353;
}


/* #name:-ms-input-placeholder,
#password:-ms-input-placeholder {
    color: white;
}

#name::-webkit-input-placeholder,
#password::-webkit-input-placeholder {
    color: white;
}

#easyDialogBox{
    padding:0px !important;
    margin:0 auto !important;
    top:20px !important;
    left:10% !important;
    background-color:transparent !important;
    width:80% !important;
}
#easyDialogWrapper{
    border:0px !important;
    padding:0px !important;
    width:100%;
    background-color:transparent !important;
}
.easyDialog_content{
    background-color:rgba(128, 128, 128,0.7) !important;
}
.easyDialog_text{
    padding:10px !important;
    text-align:center;
}

 */